* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* ensure the container takes up the full width of the window and the full height of the viewport */
    height: 100vh;
    width: 100%;
}

.box {
    /* makes each box take up 1/16th of the container's width. The 1 0 part of the shorthand ensures the boxes grow evenly but don't shrink smaller than their initial size. */
    flex: 1 0 calc(100% / 16);
    height: calc(100% / 16);
    border: 1px dotted black;
    /* ensures that the border and padding are included in the element's total width and height. */
    box-sizing: border-box;
}

.buttonCont {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
}